<!DOCTYPE html> <!-- HTML 5 -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listagem</title>



</head>

<body>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Usudario</th>
				<th scope="col">Email</th>
				<th scope="col">senha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="gerente: ${listaGerentes}">
				<td th:text="${gerente.codigo}"></td>
				<td th:text="${gerente.usuario}"></td>
				<td th:text="${gerente.email}"></td>
				<td th:text="${gerente.senha}"></td>
				
				<td> <a th:href="@{/gerente/excluir/{codigo}(codigo = ${gerente.codigo})}" class="btn btn-danger">
				 Excluir</a></td>
				<td> <a th:href="@{/gerente/atualizar/{codigo}(codigo = ${gerente.codigo})}" class="btn btn-primary">
				 Atualizar </a></td>
				
			</tr>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="/gerente/listar">&#127829;</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
									data-bs-toggle="dropdown" aria-expanded="false">
									Menu de Cadastro
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" href="/gerente/cadastroadmin">Cadastrar Novos Gerentes/Admin</a></li>
									<li><a class="dropdown-item" href="/gerente/listar">Listar Os Gerentes/Admin</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" href="#">;...;</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		</tbody>
	</table>


	<script src="/js/bootstrap.min.js"> </script>
</body>

</html>