<!DOCTYPE html>

<head>
	<meta charset="UTF-8" />
	<title>Login do Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>

	<div class="container">
	
		<div class="content">
			<!--FORMULÁRIO DE LOGIN-->
			<div id="login">
				<form method="post" action="">
				
					<h1>Login Cliente</h1>
					<p>
						<label for="nome_login">Seu Usuário</label>
						<input id="nome_login" name="usuario" required="required" type="text" placeholder="ex. nome.sobrenome" />
					</p>

					<p>
						<label for="email_login">Sua Senha</label>
						<input id="email_login" name="senha" required="required" type="texto" placeholder="ex. senha" />
					</p>

					<p>
						<input type="submit" value="Logar" />
					</p>

					<p class="link">
						Ainda não tem conta?
						<a href="/cliente/cadastrocliente">Cadastre-se</a>
					</p>
					
				</form>
			</div>
		</div>
	</div>
</body>

</html>